.package {
    background-color: rgb(51,195,198);
    color: white;
    width: 200px;
    height: 200px;
    padding: 10px 5px;  /* Simplified padding */
    border-radius: 5px;
    border-width: 0px;
    border: solid transparent;  /* Simplified border */
    box-shadow: 0 4px 4px 0 rgba(54, 23, 23, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);  
    transition-duration: 0.2s;
    font-size: calc(5px + 2vmin);
}

.package:hover {
    background-color: rgb(80,225,228);
    /* border-color: rgba(255,255,255,1); */
    color: white;
    transform: translateY(-2px);   
}

.package-view-details
{
    background-color: rgb(31,175,178);
    width: 99%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 2px;
    border-radius: 5px;
    border: solid transparent;
}


a:link { color: white; text-decoration: none;}
a:visited { color: white; }
a:hover { color: white }
a:active { color: gray; }