.package-details{
    border-style: solid;
    border-color: rgba(0,0,0,0);
    margin-bottom: 5x;
    background-color:rgb(1, 145, 148);
    width: 200vm;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(54, 23, 23, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.2s;
    align-items: center;
    justify-content: center;
    color: white;
}

.package-details:hover{
    border-color: rgba(255,255,255,1);
}

.package-details-textbox{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.package-details-button {
    background-color: rgb(230,230,230);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: calc(5px + 2vmin);
    transition-duration: 0.2s;
    color: black;
}

.package-details-button:hover {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: calc(5px + 2vmin);
}


.package-details-button:link {
    color: black;
}

.package-details-button:visited {
    color: black;
}

a:link { color: grey; text-decoration: none;}
a:visited { color: black; }
a:hover { color: black }
a:active { color: gray; }