.App {
  text-align: center;
}

.App-header {
  background-color: aliceblue;
 /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* 
a.test:link { color: aliceblue; text-decoration: none }
a.test:visited { color: aliceblue; } 
*/
a.test:link { color: greenyellow; text-decoration: none }
a.test:visited { color: greenyellow; } 
a.test:hover { color: white; text-decoration: underline }
a.test:active { color: gray; }

.test {
  font-size: calc(2vmin);
}

